In [4]:
import plotly.graph_objects as go
import pandas as pd
from itertools import cycle

In [21]:
df = pd.DataFrame({'a': [1,2,3,4,5,6,7,8,9], 'B': [1,2,3,4,5,6,7,8,9]})
df

   a  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
6  7  7
7  8  8
8  9  9

In [26]:
def repite_trim(df):
    p = cycle([1,2,3,4])
    l = []
    for i, v in enumerate(p):
        l.append(v)
        if i >= (len(df)-1): break
        
    return l

df['Trimestre'] = repite_trim(df)

In [27]:
df

   a  B  Trimestre
0  1  1          1
1  2  2          2
2  3  3          3
3  4  4          4
4  5  5          1
5  6  6          2
6  7  7          3
7  8  8          4
8  9  9          1